html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #000;
    line-height: 0;
}

main {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

section.full-viewport-panel {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
}


@media (max-width: 378px) {
    section.program .item h1 {
        font-size: 20px;    
    }

    section.program .item h2 {
        font-size: 14px;
    }

    section.address p {
        font-size: 14px;
    }
}
